@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }
}

html {
  min-width: 360px;
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose :where(h2):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-bottom: 0.25em;
}

.prose
  :where(.prose > ol > li > *:last-child):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  ) {
  margin-bottom: 0.25em;
  margin-top: 0.25em;
}

.prose a {
  @apply transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply bg-neutral-50 dark:bg-neutral-900 rounded-lg overflow-x-auto border border-neutral-200 dark:border-neutral-900;
}

.prose code {
  @apply px-1 py-0.5 rounded-lg;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose h2,
h3,
h4 {
  @apply font-medium tracking-tighter !important;
}

.prose strong {
  @apply font-medium;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.prose .tweet a {
  text-decoration: inherit;
  font-weight: 500;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.prose .callout > p {
  margin: 0 !important;
}

.title {
  text-wrap: balance;
}

#ja-proverb-title {
  font-family: var(--font-azuki);
}

@charset "utf-8";

.kcalendar {
  font-size: 1em;
  color: #ffffff;
  text-align: center;
}
.kcalendar h3 {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin: 0px;
  margin-bottom: 12px;
}
.kcalendar table {
  width: 100%;
  min-width: 100%;
  display: table;
  border-collapse: collapse;
  border-spacing: 0px;
}
.kcalendar table tr td {
  font-size: 0.9em;
  text-align: center;
  width: 14%;
  padding: 2px 0px;
}
.kcalendar table tr:first-child td {
  /* background-color:#eeeeee; */
} /* week style */
.kcalendar table tr td:first-child {
  width: 15%;
  color: #f72c08;
} /* sunday */
.kcalendar table tr td:last-child {
  width: 15%;
  color: #0174fd;
} /* saturday */
.kcalendar table tr td.hkr {
  color: #ff0000;
} /* korean holiday */
.kcalendar table tr td.hjp {
  border: 1px solid #000;
  background-color: #accbbd;
  color: #444444;
  border-radius: 4px;
} /* japanese holiday */
.kcalendar table tr td.hcn {
  background-color: #e2fce1;
} /* chinese holiday */
.kcalendar table tr td.hbr:after {
  content: "　";
  position: relative;
} /* Blank Line */
.kcalendar .kcalimg {
}

/* for BOX */
.cabox .kcalendar table tr td {
  border-top: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.cabox .kcalendar table tr:last-child td {
  border-bottom: 1px solid #eeeeee;
}
.cabox .kcalendar table tr td:last-child {
  border-right: 1px solid #eeeeee;
}
.cabox .kcalendar table tr:first-child td {
  background-color: #f8f8f8;
}

/* for WEEK GRAY Style */
.cagry .kcalendar table tr:first-child td {
  font-weight: bold;
  color: #666666 !important;
}

.kholiday {
  font-size: 1em;
  color: #ffffff;
  margin-top: 5px;
  text-align: left;
}
.kholiday table {
  font-size: 0.85em;
  line-height: 120%;
  border-collapse: collapse;
  border-spacing: 0px;
}
.kholiday table tr {
  vertical-align: top;
}
.kholiday table .hdt {
  font-weight: bold;
  display: inline;
  margin-right: 6px;
}
.kholiday table .hnm {
  color: #ffffff;
}
.kholiday table .hkr {
  color: #ff0000;
}
.kholiday table .hjp {
  color: #47a3ed;
}
.kholiday table .hcn {
  color: #339933;
}
.kholiday table tr th,
.kholiday table tr td {
  padding: 0px;
  padding-top: 2px;
  text-align: left;
}
.kholiday table tr th {
  padding-right: 6px;
  text-align: right;
  word-break: keep-all;
}
.kholiday table tr a {
  text-decoration: underline;
  color: inherit;
}

/* top BORDER & BOX Type */
.holine .kholiday {
  border-top: 1px solid #cccccc;
  padding-top: 5px;
}
.hobox .kholiday {
  padding: 8px;
  background-color: #f6f6f6;
}

/* for MOBILE */
.kmob .kcalendar table tr td {
  padding: 5px 0px;
  line-height: 140%;
}
.kmob .kholiday table tr td {
  line-height: 140%;
  padding-bottom: 4px;
}
